<div class="nav">
    <div class="sb-sidenav-menu-heading"></div>
    <a class="nav-link" href="/admindashboard">
    <div class="sb-nav-link-icon"><i class="feather-home"></i></div>
    Dashboard
    </a>
    
    <a class="nav-link" href="/admin/users">
    <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
    Users
    </a>
    <a class="nav-link" href="/admin/addproducts">
    <div class="sb-nav-link-icon"><i class="feather-star"></i></div>
    Add Product
    </a>
    <a class="nav-link" href="/admin/restaurants">
    <div class="sb-nav-link-icon"><i class="feather-heart"></i></div>
    Restaurants
    </a>
    <a class="nav-link" href="/admin/addrestaurant">
    <div class="sb-nav-link-icon"><i class="feather-plus-circle"></i></div>
    Add Restaurant
    </a>
    <a class="nav-link" href="/admin/products">
    <div class="sb-nav-link-icon"><i class="feather-book-open"></i></div>
    Product List
    </a>
    <a class="nav-link" href="/admin/header">
    <div class="sb-nav-link-icon"></i></div>
    Headers
    </a>
    <a class="nav-link" href="/admin/coupons">
    <div class="sb-nav-link-icon"><i class="feather-settings"></i></div>
    Coupons
    </a>
    <a class="nav-link" href="/admin/addcategory">
        <div class="sb-nav-link-icon"><i class="feather-settings"></i></div>
        Add category
        </a>
    </div>