<nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">

    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
   
    </div>
    </form>
    
    <ul class="navbar-nav ml-auto ml-md-0">
<li><a href="/admin/logout">Logout</a> </li>
       
    </a>

    </ul>
    </nav>