<!doctype html>
<html lang="en">

<!-- Mirrored from askbootstrap.com/preview/osahan-eat/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2022 10:14:36 GMT -->
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Askbootstrap">
<meta name="author" content="Askbootstrap">
<title>Login</title>

<link rel="icon" type="image/png" href="img/favicon.png">

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">

<link href="/vendor/icofont/icofont.min.css" rel="stylesheet">

<link href="/vendor/select2/css/select2.min.css" rel="stylesheet">

<link href="/css/osahan.css" rel="stylesheet">
</head>
<body class="bg-white">
<div class="container-fluid">
<div class="row no-gutter">
<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
<div class="col-md-8 col-lg-6">
<div class="login d-flex align-items-center py-5">
<div class="container">
<div class="row">
<div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
<h3 class="login-heading mb-4">New Buddy!</h3>
<form action="signup" method="post">
    <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" placeholder="Name" name="username">
        <label for="inputName">Name </label>
        </div>
<div class="form-label-group">
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email">
<label for="inputEmail">Email </label>
</div>
<div class="form-label-group">
<input type="tel" id="inputNumber" class="form-control" placeholder="Mobile" name="number">
<label for="inputNumber">Mobile</label>
</div>
<div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password">
    <label for="inputPassword">Password</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword2" class="form-control" placeholder="Password" name="password2">
        <label for="inputPassword2">Password</label>
        </div>
            
 <button type="submit" class="btn btn-lg btn-outline-primary  btn-login text-uppercase font-weight-bold mb-2">Sign Up</button> 
<div class="text-center pt-3">
Already have an Account? <a class="font-weight-bold" href="login">Sign In</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script src="/vendor/jquery/jquery-3.3.1.slim.min.js" type="78ae3fce37b35f516e05923e-text/javascript"></script>

<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js" type="78ae3fce37b35f516e05923e-text/javascript"></script>

<script src="/vendor/select2/js/select2.min.js" type="78ae3fce37b35f516e05923e-text/javascript"></script>

<script src="/js/custom.js" type="78ae3fce37b35f516e05923e-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="78ae3fce37b35f516e05923e-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"75b8409e3b855c85","version":"2022.8.1","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-eat/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2022 10:14:36 GMT -->
</html>